.container {
  justify-content: center;
  color: rgb(0 0 0);
}

.input {
  box-sizing: border-box;
  width: 50%;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 3px;
}
