.container {
  min-height: 100svh;
  padding: 4vmin;
  color: #000;
  text-shadow: 0 -1px #e6e6e6, 0 -2px #fff, 0 8px 15px rgb(0 0 0 / 70%);
  background-color: rgb(186 237 255);
}

.container::first-letter {
  color: red;
}

.title {
  margin: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding: 0.9em 2em;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  background-color: #0060fa;
  border: none;
  border-bottom: solid 5px #0030ca;
  border-radius: 5px;
  transition: 0.5s ease;
}

.button:hover {
  border-bottom-width: 2px;
  transform: translateY(3px);
}
