.qrCodeImg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* justify-content: center; */
  height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333; /* 基本の文字色 */
  background-color: rgb(244 244 244); /* ベースカラー */
}

.title {
  margin-bottom: 20px;
  color: #ff6f00; /* メインカラー: オレンジ */
}

.cameraContainer {
  position: relative;

  /* width: 100vw; */

  /* max-width: 400px; */

  /* height: 40vh; */

  /* max-height: 400px; */
  margin: 20px 0;
}

.text {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.logoImg {
  width: 70vw;
}

.site {
  color: #ff6f00; /* メインカラー: オレンジ */
  text-align: center;
  text-decoration: underline;
  transition: color 0.3s;
}

.site:hover {
  color: #ff8e40; /* ホバー時はオレンジを少し明るく */
}
